---
import Page from "@layouts/page";
---

<Page title="Contact me">
	<h1>Contact me</h1>
	<p>
	Thank you for taking the time to learn more about me. If you have any questions, inquiries, or would like to discuss a potential collaboration, please feel free to reach out to me using the contact details below. I look forward to connecting with you!
	</p>
	<p>
	<a href="mailto:@doniwirawan166@gmail.com">Email: doniwirawan166@gmail.com</a>
	</p>
	<p>
	<a href="https://www.linkedin.com/in/doniwirawan">LinkedIn: www.linkedin.com/in/doniwirawan</a>
	</p>
	<p>
	Please don't hesitate to contact me via email or connect with me on LinkedIn. I'm open to exciting opportunities and projects that allow me to contribute my skills and expertise as a web developer.
	</p>
	<p>
	Let's work together to create exceptional digital experiences and make a positive impact in the world of technology!
	</p>
</Page>
