---
import Page from "@layouts/page";
---

<Page title="About me">
	<h1>About me</h1>
	<p>
	Welcome to my personal website! I'm Doni Wirawan, a passionate web developer based in Bali, Indonesia. With a strong background in computer science and a deep love for technology, I specialize in creating engaging and user-friendly web applications.
	</p>
	<p>
	Thank you for visiting my website. If you have a project or opportunity that requires a skilled web developer, I'd love to connect and discuss how I can contribute to your success.
	</p>
</Page>
